
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'League Spartan', sans-serif;
    background-color: #fff2e5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 90px;
}

.login-box {
    background-color: #fbc399;
    padding: 80px 180px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.first-color {
    color: #505631; 
}

.second-color {
    color: #DE6E27; 
}

.login-box input[type="email"],
.login-box input[type="password"], 
.login-box input[type="text"] {
    width: 100%; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-box button {
    background-color: #4D6C40;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}


.login-box button:hover {
    background-color: #61A556;
}

.login-box a {
    text-decoration: none;
    color: #000000;
    margin-top: 15px;
    display: inline-block;
}

.login-box a:hover {
    text-decoration: underline;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.toggle-password img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.toggle-password img.rotated {
    transform: rotate(180deg);
}

.toggle-password img:hover {
    opacity: 0.7;
}
