body {
    font-family: 'League Spartan', sans-serif;
    background-color: #fff2e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.success-message {
    text-align: center;
    background-color: #F19447;
    border-radius: 15px;
    padding: 40px 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.3s ease;
    position: relative;
}

.success-message .top-image {
    width: 352px;
    position: absolute;
    top: -178px; 
    left: 50%;
    transform: translateX(-50%);
}

.success-message .right-dog {
    width: 450px;
    position: absolute;
    right: -300px;
    top: 56%;
    transform: translateY(-50%);
}

.success-message h1 {
    font-size: 36px;
    color: #2C3E50;
    margin-bottom: 20px;
    margin-top: 60px; 
    animation: slide-down 0.5s ease-in-out;
}

.success-message p {
    font-size: 18px;
    color: #ffffff;
    margin: 10px 0;
    animation: fade-in 1s ease;
}

@keyframes slide-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
