
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'League Spartan', sans-serif;
    background-color: #fff2e5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* General form styles */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding: 20px;
}

.form-box {
    width: 75%;
    padding: 30px;
    background-color: #FBE7C6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Form titles */
h2 {
    font-size: 1.6em;
    color: #5A3825; 
    margin-bottom: 20px;
}

/* Label styles */
label {
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #6B4E3D;
}
.show-password{
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #6B4E3D; 
    margin-top: -14px;
    margin-left: 30px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.contact-container div {
    flex: 1;
}

.name-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.name-container div {
    flex: 1;
}
.account-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.account-container div {
    flex: 1;
}

input#password.signup[type="password"]{
    margin-bottom: 20px;
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #FDF0E2; 
    font-size: 1em;
    color: #333;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05); 
}
input#username.signup[type="text"]{
    margin-bottom: 20px;
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #FDF0E2; 
    font-size: 1em;
    color: #333;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05); 
}

input[type="text"]{
    margin-bottom: 20px;
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #FDF0E2; 
    font-size: 1em;
    color: #333;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05); 
}
input[type="email"]{
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #FDF0E2; 
    font-size: 1em;
    color: #333;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05); 
}
input[type="tel"] {
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #FDF0E2;
    font-size: 1em;
    color: #333;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05); 
}
input#first-name.signup{
    margin-bottom: 0!important;
    width: 90%;    
}
input#last-name.signup{
    margin-bottom: 0!important;
    width: 90%;
}

input#barangay.signup,input#municipality.signup,input#address.signup[type="text"]{
    margin-bottom: 20px;
    width: 95%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #FDF0E2; 
    font-size: 1em;
    color: #333;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05); 
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
}

button{
    background-color: #38801a;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); 
}

button:hover {
    background-color: #61A556; 
}

.form-box form {
    display: flex;
    flex-direction: column;
}
