/* General Styles */
body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #fff2e5;
}

/* Main Content */
main {
    padding: 5rem 2rem;
    align-content: center;
}

h1 {
    color: #d97c30;
    text-align: center;
}

/* Cart Table */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle; 
    width: auto; 
}

.cart-table thead tr {
    background-color: #faa85a;
}

.cart-table th {
    color: white;
    padding: 10px; 
    border: none; 
    border-bottom: 1px solid #ccc; 
    vertical-align: middle; 
}

img.delete {
    cursor: pointer;
    vertical-align: middle; 
    height: 24px!important;  
    width: auto!important;   
}


.cart-table td:first-child{
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.cart-table img {
    width: 50px;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
    padding: 0 20px;
}

.cart-table input[type="number"] {
    width: 60px;
    text-align: center;
}

/* Checkout Section */
.checkout-section {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    width: calc(100% - 4rem); 
    margin-left: 2rem; 
    margin-right: 2rem; 
}

.total-price {
    display: flex;
    padding: 30px 35px;
    flex-direction: row;
    align-items: flex-end; 
}

.total-price span {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 5px;
}

.checkout-btn {
    width: 15rem;
    height: auto;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.3s ease; 
}

.checkout-btn:hover {
    filter: brightness(1.2) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); 
    transform: scale(1.05); 
}

/* Counter Styles */
.cart-table td.quantity {
    text-align: center; 
    vertical-align: middle; 
    padding: 10px; 
}

/* Counter Styles */
.counter-container {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d4cb5d; 
    padding: 5px;
    width: 80px;
    text-align: center;
}

.btn {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 0 5px;
    font-weight: bold;
}

.number {
    font-size: 14px;
    margin: 0 10px;
    text-align: center;
    width: 20px;
    font-weight: bold;
}
  